<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: header"></head>
<script type="text/javascript">
    $(document).ready(function () {
        var deadline = new Date(Date.parse("07/10/2019"));
        initializeClock('clockdiv', deadline);
    });
</script>
<body>
<div th:replace="includes :: background"></div>
<div th:fragment="content">
    <div class="flex-container">
        <div class="column" style="flex-grow: 1">
            <div th:replace="includes :: menu">

            </div>
            <h2 class="row flex-item white-text" th:text="${actualGame}"></h2>
            <div th:replace="includes :: countdown"></div>
        </div>
    </div>
</div>
</body>
</html>