<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: header"></head>
<body>
<div th:replace="includes :: background"></div>
<div th:fragment="content">
    <div class="flex-container">
        <div class="column" style="flex-grow: 1">
            <div th:replace="includes :: menu">

            </div>
            <h2 class="row flex-item white-text" th:text="${actualGame}"></h2>
            <div class="row">
                <p class="white-text" href="#" th:text="'Leiras:' + ${description}">Title ...</p>
                <p class="white-text" href="#" th:text="'Jelenlegi allas:' + ${progress}">Title ...</p></div>
            <form id="mindq1">
                <div class="form-group">
                    <label class="white-text">Mi a legnagyobb felelmem?</label>
                    <input type="text" name="answer" class="form-control" id="answer" placeholder="Valasz">
                </div>
                <button type="submit" class="btn btn-primary">Kuldes</button>
                <span class="error-info-box" id="errorResult"></span>
            </form>
            </div>
    </div>
</div>
</body>
</html>