<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: header"></head>
<script src="js/mind-function.js" type="text/javascript"></script>

<body>
<div th:replace="includes :: background"></div>
<div th:fragment="content">
    <div class="flex-container">
        <div class="column" id="question-list" style="flex-grow: 1">
            <div th:replace="includes :: menu">

            </div>
            <h2 class="row flex-item white-text" th:text="${actualGame}"></h2>
    </div>
</div>
</div>
</body>
</html>