<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: header"></head>
<body>
<div th:include="includes :: background"></div>
<div class="flex-container">
    <div class="column" style="flex-grow: 1">

        <div th:replace="includes :: menu"></div>

        <div class="row flex-item">
            <h3 class="text-center text-white">Üdv Kicsiparány!</h3>
        </div>
        <div class="row flex-item">
            <a class="btn btn-dark" href="/intro" role="button"> Intro</a>
        </div>
        <div class="row flex-item">
            <div class="column" style="position: relative">
                <img class="infinity-stone-medium" th:classappend="${!completed.containsKey('mind')}?notcompleted" src="css/images/mind-stone.png"/>
                <div class="centered-img-text" th:text="${completed.get('mind')} ?: ''"></div>
            </div>
            <div class="column" style="position: relative">
                <img class="infinity-stone-medium" th:classappend="${!completed.containsKey('power')}?notcompleted" src="css/images/power-stone.png"/>
                <div class="centered-img-text" th:text="${completed.get('power')} ?: ''"></div>
            </div>
            <div class="column" style="position: relative">
                <img class="infinity-stone-medium" th:classappend="${!completed.containsKey('souls')}?notcompleted" src="css/images/souls-stone.png"/>
                <div class="centered-img-text" th:text="${completed.get('souls')} ?: ''"></div>
            </div>
        </div>

        <div class="row flex-item" >
            <div class="column" style="position: relative">
                <img class="infinity-stone-medium" th:classappend="${!completed.containsKey('space')}?notcompleted" src="css/images/space-stone.png"/>
                <div class="centered-img-text" th:text="${completed.get('space')} ?: ''"></div>
            </div>
            <div class="column" style="position: relative">
                <img class="infinity-stone-medium" th:classappend="${!completed.containsKey('time')}?notcompleted" src="css/images/time-stone.png"/>
                <div class="centered-img-text" th:text="${completed.get('time')} ?: ''"></div>
            </div>
            <div class="column" style="position: relative">
                <img class="infinity-stone-medium infinity-stone-reality" th:classappend="${!completed.containsKey('reality')}?notcompleted"
                     src="css/images/reality-stone.png"/>
                <div class="centered-img-text" th:text="${completed.get('reality')} ?: ''"></div>
            </div>
        </div>


        <div class="row">
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" th:attr="aria-valuenow=${progress}" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>