<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parany</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/animation.css" >
    <link rel="stylesheet" href="/css/main.css" >

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>

    <div class="content">

        <div th:switch="${actualGame.toString()}">
            <div th:case="'FIRST'" th:fragment="~{games/game1::content}">
                This is the first case
            </div>
            <div th:case="'SECOND'" th:fragment="~{games/game2::content}">
                This is the second case
            </div>
            <p th:case="*">User is some other thing:
                <a href="#" th:text="${actualGame}">Title ...</a>
            </p>
        </div>

        <a type="button" class="btn btn-outline-secondary logout-btn" href="/logout" role="button" >Logout</a>
        <a type="button" class="btn btn-outline-secondary logout-btn" href="/index" role="button" >Logout</a>
        <p th:text="'Hello, ' + ${name} + '!'" />
        <a type="button" class="btn btn-outline-secondary" href="/index?actualGame=FIRST" role="button" >Game - 1</a>
        <a type="button" class="btn btn-outline-secondary" href="/index?actualGame=SECOND" role="button" >Game - 2</a>

        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" th:attr="aria-valuenow=${progress}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
     </div>

</body>
</html>