<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: header"></head>

    <script>
        $(document).ready(function() {

            var timer = setTimeout(function() {
            window.location=window.location.protocol + "//" + window.location.host + "/index"
        }, 90000); });
    </script>

<a id="skip-intro" class="btn btn-dark" href="/index" onClick="" role="button">Skip Intro</a>

<div th:replace="includes :: background"></div>
    <audio loop="loop" autoplay="autoplay">
        <source src="/sound/sw_theme.mp3" type="audio/mp3" />
    </audio>

<div id="titles"><div id="titlecontent">
    <div>
        <p class="intro-content-header">Kicsiparany</p>
        <p class="intro-content-header">A Star Wars story</p>
        <br/>
    </div>
    <div class="intro-content">
        <p> Laszlo Nardai has vanished... Well, actually he's just taking a nap, because he's pretty tired.
            Anyways, In his absence Princess Parany has hard tasks at her hand.
            She has to solve all six challenges that awaits her. Every challenge tests a different virtue. At the end of each challenge,
            she will find an Easter egg, that holds a key. Once she has all 6 keys, with Laszlo's help a portal can be opened,
            that will take her to a wonderful place. There she can find the final secret.
        </p>
        <p>
            It would be a FATAL mistake to miss out on this adventure, the galaxy's fate depends on this.
            Also I worked pretty hard on this, so try to enjoy it, please?
        <p>
            Will Princess Parany succeed? Only time will tell.
        </p>
        <p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </p>
        <p>
            You should go, there's nothing else to see here.
        </p>
        <p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </p>
        <p>
            Just kidding, Love you Paresz! :) Good luck! <3
        </p>
    </div>
</div>
</div>
</html>